@charset 'utf-8';


body, div {margin: 0; padding: 0;}

.box {width: 500px; height: 300px; border-top: 10px #95c9fc solid; margin: 100px auto;padding-top: 50px;}
.box form {width: 400px; height: auto; margin: 0 auto;}
.box div {width: 100%; height: 35px; margin-bottom: 10px;}
.box div:last-child {height: 40px;}


.box label {display: inline-block; width: 100px; text-align: right; height: 33px; line-height: 33px;}
.box .ipt {outline: none; border: none; vertical-align: top; width: 280px; height: 33px; padding: 0 0 0 5px; border: 1px solid gray; box-sizing: border-box; border-radius: 5px; font-size: 18px; }
.box button {display: inline-block; width: 280px; height: 40px; margin: 0; padding: 0; margin-left: 100px; outline: none; border: none; background-color: green;border-radius: 5px; font-size: 20px; color: #fff; cursor: pointer;}