@charset "utf-8";

body, div, section {
    margin: 0;
    padding: 0;
}

.content-box section {
    width: 300px;
    height: 300px;
    margin: 50px auto;
}

.content-box section:nth-child(2n) {
    background-color: orange;
}
.content-box section:nth-child(2n - 1) {
    background-color: purple;
}

.btn {
    width: 28px;
    height: 64px;
    background: url("../images/topcio.png") no-repeat 0;
    display: none;
    position: fixed;
    right: 50px;
    bottom: 50px;
}
.btn:hover {
    background-position: -28px;
}
