@charset "utf-8";

body{
    font-size: 14px;
}
html,body{
    height:100%;
}
body{
    overflow: hidden;
}
header{
    width:100%;
    height: 10%;
    background: #3a393e;
    text-align: center;
    font-size: 1.2em;

}
header div{
    padding-top:5%;
    color: white;

}
main{
    width: 100%;
    height:82%;
}
main .contact .contact-list .contact-item{
    height: 10%;
    line-height: 8%;

}
main .contact .contact-list .contact-item .wrap{
    height:10%;
    margin:0 2%;
    padding: 2% 0;
    border-bottom: 1px solid #ddd;
}
main .contact .contact-list .contact-item .wrap img{
    width:11%;
    height: 11%;
}
main .contact .contact-list .contact-item .wrap span{
    margin-left:3% ;
}

footer{
    width: 100%;
    height: 8%;
    background: #f8f8f8;
    border-top:1px solid #ddd;
    bottom:0;
    left:0;
}


.side-page{
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    background-color: #f0eff6;
    transition: 0.3s;
}
.side-page .topbar{
    width:100%;
    height: 8%;
    background: #3a393e;
    font-size: 1.2em;
}
.side-page .topbar p{
    width: 100%;
    height:1.5em;
    left: 0;
    top: calc(50% - 0.75em);
    color: white;
}
.side-page .topbar .cancel{
    padding: 2%;
}
.side-page .topbar p .span2{
    left:calc(50% - 2.5em);
}
.side-page .container{
    height: 60%;
    margin: 1% 2%;
    background-color: white;
}
.side-page .container .person{
    height:30%;
    background-color: #fbfbfb;
}
.side-page .container .person .contact-wrap{
    width: 30%;
    left:calc(50% - 16%);
    top:calc(50% - 36%);
    text-align: center;
}
.side-page .container .person .contact-wrap .imgbox img{
    width:50%;
    height: 50%;
}
.side-page .container .transfer-money{
    height: 52%;
    overflow: hidden;
}
.side-page .container .transfer-money .transfer-list{
    height: 90%;
    margin:0 6%;
}
.side-page .container .transfer-money .transfer-list .rmb{
    height:70%;
    border-bottom: 1px solid #aaa;
}
.side-page .container .transfer-money .transfer-list .rmb input{
    width: 100%;
    height: 45%;
    left: 0;
    bottom: 0;
    outline: none;
    border: none;

    text-indent: 2em;
    font-size: 3em;
}
.side-page .container .transfer-money .transfer-list .rmb i.rmb1{
    font-size: 4em;
    left: 0;
    bottom:-9%;
    z-index: 1;
}
.side-page .container .transfer-money .transfer-list p.explain{
    margin-top: 2%;
}
.side-page .container .btn{
    height: 14%;

}
.side-page .container .btn input{
    width: 80%;
    height: 100%;
    margin: 0 10%;
    outline:none;
    border: none;
    background-color: #1cab1a;
    color: #f7fff0;
    font-size: 1em;
}
.side-page .transfer-box{
    height: 40%;
    width: 80%;
    left: 10%;
    top: 10%;
    border-radius: 5%;
    display: none;
    z-index: 100;
    background-color: white;
    transition: 0.5s;
}
.side-page .transfer-box .top{
    height: 15%;
    width: 100%;
    border-bottom: 1px solid #dff5e3;
   /* display: flex;
    flex-direction:row;
    justify-content:flex-start;*/
}
.side-page .transfer-box .top .back{
    height: 100%;
    width: 10%;
    left: 0;
    top: 0;
    text-align: center;
    line-height: 250%;
    /*flex-grow: 2;*/

}
.side-page .transfer-box .top .text{
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 250%;
    /*flex-grow: 8;*/
}
.side-page .transfer-box .middle{
    height: 35%;
    width: 100%;
    border-bottom: 1px solid #eee;
}
.side-page .transfer-box .middle p{
    text-align: center;
}
.side-page .transfer-box .middle .p1{
    height: 30%;
}
.side-page .transfer-box .middle .p2{
    height: 70%;
    width: 100%;
    /*margin-left: 12%;*/
    font-size: 2em;
    line-height: 2em;
    background-color: white;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;

}
.side-page .transfer-box .middle .p2 i.rmb2{
    left: 18%;
    font-size: 1.5em;
}
.side-page .transfer-box .bottom{
    height: 50%;
}
.side-page .transfer-box .bottom .text2{
    width:100%;
    height:30%;
    line-height: 250%;
    border-bottom: 1px solid #eee;
}
.side-page .transfer-box .bottom .text2 span{
    margin-left: 3%;
}
.side-page .transfer-box .bottom .text3{
    width:100%;
    height:30%;
    background-color: white;
    bottom:70%;
    left: 0;
    color: #ff6700;
    font-size:1em;
    text-align: center;
    line-height:250%;
    display: none;
}
.side-page .transfer-box .bottom .password{
    width: 100%;
    height: 70%;
    overflow: hidden;
}
.side-page .transfer-box .bottom .password ul{
    width:86%;
    height:54%;
    margin:6% auto;
    border:1px solid #eee;
}
.side-page .transfer-box .bottom .password ul li{
    width: 16.3%;
    height: 100%;

}
/*black-point*/
.side-page .transfer-box .bottom .password ul li .black-point{
    width: 60%;
    height:60%;
    margin: 20%;
    border-radius: 100%;
    background-color: black;

}
.side-page .transfer-box .bottom .password ul li .show{
    display: block;
}
/*遮罩*/
.side-page .mask{
    height: 60%;
    width: 100%;
    top:0;
    left:0;
    z-index: 99;
    display: none;
    background: rgba(0,0,0,0.5);
    transition: 0.2s;
}

/*键盘*/
.side-page .keyboard{
    width:100%;
    height: 40%;
    bottom:0;
    display: none;
    background-color: #fff;
    transition: 0.3s;
}
.side-page .keyboard ul{
    height: 100%;
    font-size: 1.5em;
    text-align: center;
    line-height: 320%;
}
.side-page .keyboard ul li{
    width: 33.1%;
    height: 25%;
}

/*转账成功界面*/
.success{
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    transition: 0.5s;
    background-color: white;
}
.success .headbar{
    width: 100%;
    height: 30%;
    text-align: center;
    background-color: white;
}
.success .headbar .p-icon{
    height: 30%;
    width: 100%;
    padding-top: 10%;

}
.success .headbar .p-icon .iconfont{
    font-size: 4em;
    color: #1aac19;
}
.success .headbar .word{
    margin-top: 6%;
}
.success .mainbar{
    height: 30%;
    width:100%;
    text-align: center;
}
.success .mainbar p{
    width: 100%;
    height: 15%;
}
.success .footbar{
    height: 30%;
    width: 100%;

    bottom:0;
    left:0;

}
.success .footbar p{
    width: 40%;
    height:20%;
    left:30%;
    text-align: center;
    line-height: 250%;
    background-color:#1aac19;
}