@charset "UTF-8";

body, div {margin: 0; padding: 0;}

.wrap {
	width: 520px; 
	height: 280px;
	margin: 100px auto;
	position: relative;
	overflow: hidden;
	transition: all .25s linear;
}

.wrap:hover {
	transform: translateY(2px);
	box-shadow: 2px 2px 10px 2px gray;
}

.wrap:hover .btn {
	display: inline-block;
}

.img-box {
	width: calc(520px * 8);
	height: inherit;
	font-size: 0;
	position: absolute;
	left: -520px;
}
.idots {
	width: 110px;
	height: 10px;
	text-align: center;
	font-size: 0;
	position: absolute;
	left: calc(50% - 55px);
	bottom: 20px;
}

.idots span.idot {
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: orange;
	margin-right: 10px;
	/*鼠标指针样式*/
	cursor: pointer;
}

.idots span.selected {
	background: purple;
}

span.idot:first-child {
	margin-left: 0;
}
span.idot:last-child {
	margin-right: 0;
}



.btn {
	display: none;
	width: 45px;
	height: 35px;
	position: absolute;
	top: calc(50% - 20px);
	cursor: pointer;
}

.btn:hover {
	filter: opacity(0.75);
}

.prev {
	left: 10px;
	background: url("../images/left.png") no-repeat center;
}

.next {
	right: 10px;
	background: url("../images/right.png") no-repeat center;
}
















